<H1>Coursera Capstone</H1>
<p>This notebook will be used for the IBM Applied

In [16]:
import pandas as pd
import numpy as np

In [17]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

<h2>Begin EDA</h2>

In [18]:
df=pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')
df.info()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
SEVERITYCODE      194673 non-null int64
X                 189339 non-null float64
Y                 189339 non-null float64
OBJECTID          194673 non-null int64
INCKEY            194673 non-null int64
COLDETKEY         194673 non-null int64
REPORTNO          194673 non-null object
STATUS            194673 non-null object
ADDRTYPE          192747 non-null object
INTKEY            65070 non-null float64
LOCATION          191996 non-null object
EXCEPTRSNCODE     84811 non-null object
EXCEPTRSNDESC     5638 non-null object
SEVERITYCODE.1    194673 non-null int64
SEVERITYDESC      194673 non-null object
COLLISIONTYPE     189769 non-null object
PERSONCOUNT       194673 non-null int64
PEDCOUNT          194673 non-null int64
PEDCYLCOUNT       194673 non-null int64
VEHCOUNT          194673 non-null int64
INCDATE           194673 non-null object
INCDTTM           194673 non-null object
JUNCTIONTYPE      188344 non-null object
SDOT_COLCODE      194673 non-null int64
SDOT_COLDESC      194673 non-null object
INATTENTIONIND    29805 non-null object
UNDERINFL         189789 non-null object
WEATHER           189592 non-null object
ROADCOND          189661 non-null object
LIGHTCOND         189503 non-null object
PEDROWNOTGRNT     4667 non-null object
SDOTCOLNUM        114936 non-null float64
SPEEDING          9333 non-null object
ST_COLCODE        194655 non-null object
ST_COLDESC        189769 non-null object
SEGLANEKEY        194673 non-null int64
CROSSWALKKEY      194673 non-null int64
HITPARKEDCAR      194673 non-null object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

In [19]:
result = df.describe()
print("SUMMARY DESCRIPTIVE STATS FOR NUMERICAL COLUMNS:")
print(result)
print()

SUMMARY DESCRIPTIVE STATS FOR NUMERICAL COLUMNS:
        SEVERITYCODE              X              Y       OBJECTID  \
count  194673.000000  189339.000000  189339.000000  194673.000000
mean        1.298901    -122.330518      47.619543  108479.364930
std         0.457778       0.029976       0.056157   62649.722558
min         1.000000    -122.419091      47.495573       1.000000
25%         1.000000    -122.348673      47.575956   54267.000000
50%         1.000000    -122.330224      47.615369  106912.000000
75%         2.000000    -122.311937      47.663664  162272.000000
max         2.000000    -122.238949      47.734142  219547.000000

              INCKEY      COLDETKEY         INTKEY  SEVERITYCODE.1  \
count  194673.000000  194673.000000   65070.000000   194673.000000
mean   141091.456350  141298.811381   37558.450576        1.298901
std     86634.402737   86986.542110   51745.990273        0.457778
min      1001.000000    1001.000000   23807.000000        1.000000
25%     70383.000000   70383.000000   28667.000000        1.000000
50%    123363.000000  123363.000000   29973.000000        1.000000
75%    203319.000000  203459.000000   33973.000000        2.000000
max    331454.000000  332954.000000  757580.000000        2.000000

         PERSONCOUNT       PEDCOUNT    PEDCYLCOUNT       VEHCOUNT  \
count  194673.000000  194673.000000  194673.000000  194673.000000
mean        2.444427       0.037139       0.028391       1.920780
std         1.345929       0.198150       0.167413       0.631047
min         0.000000       0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000       2.000000
50%         2.000000       0.000000       0.000000       2.000000
75%         3.000000       0.000000       0.000000       2.000000
max        81.000000       6.000000       2.000000      12.000000

        SDOT_COLCODE    SDOTCOLNUM     SEGLANEKEY  CROSSWALKKEY
count  194673.000000  1.149360e+05  194673.000000  1.946730e+05
mean       13.867768  7.972521e+06     269.401114  9.782452e+03
std         6.868755  2.553533e+06    3315.776055  7.226926e+04
min         0.000000  1.007024e+06       0.000000  0.000000e+00
25%        11.000000  6.040015e+06       0.000000  0.000000e+00
50%        13.000000  8.023022e+06       0.000000  0.000000e+00
75%        14.000000  1.015501e+07       0.000000  0.000000e+00
max        69.000000  1.307202e+07  525241.000000  5.239700e+06

In [20]:
def freq(var):
    result = df[var].value_counts()
    print("FREQUENCY DISTRIBUTION")
    print(result.head())
    print('')
    
freq('JUNCTIONTYPE')
freq('INCDTTM')
freq('INCDATE')
freq('COLLISIONTYPE')
freq('SEVERITYDESC')
freq('EXCEPTRSNDESC')
freq('EXCEPTRSNCODE')
freq('LOCATION')
freq('ADDRTYPE')
freq('STATUS')
freq('REPORTNO')
freq('SDOT_COLDESC')
freq('INATTENTIONIND')
freq('UNDERINFL')
freq('WEATHER')
freq('ROADCOND')
freq('LIGHTCOND')
freq('PEDROWNOTGRNT')
freq('SPEEDING')
freq('ST_COLCODE')
freq('ST_COLDESC')
freq('HITPARKEDCAR')
freq('SEVERITYCODE')

FREQUENCY DISTRIBUTION
Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Name: JUNCTIONTYPE, dtype: int64

FREQUENCY DISTRIBUTION
11/2/2006    96
10/3/2008    91
11/5/2005    83
12/4/2004    74
6/1/2006     73
Name: INCDTTM, dtype: int64

FREQUENCY DISTRIBUTION
2006/11/02 00:00:00+00    96
2008/10/03 00:00:00+00    92
2005/05/18 00:00:00+00    84
2006/01/13 00:00:00+00    83
2005/11/05 00:00:00+00    83
Name: INCDATE, dtype: int64

FREQUENCY DISTRIBUTION
Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Name: COLLISIONTYPE, dtype: int64

FREQUENCY DISTRIBUTION
Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

FREQUENCY DISTRIBUTION
Not Enough Information, or Insufficient Location Information    5638
Name: EXCEPTRSNDESC, dtype: int64

FREQUENCY DISTRIBUTION
       79173
NEI     5638
Name: EXCEPTRSNCODE, dtype: int64

FREQUENCY DISTRIBUTION
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    254
6TH AVE AND JAMES ST                                              252
Name: LOCATION, dtype: int64

FREQUENCY DISTRIBUTION
Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

FREQUENCY DISTRIBUTION
Matched      189786
Unmatched      4887
Name: STATUS, dtype: int64

FREQUENCY DISTRIBUTION
1780512    2
1782439    2
1776526    2
E910107    1
2829357    1
Name: REPORTNO, dtype: int64

FREQUENCY DISTRIBUTION
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE     85209
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END               54299
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE     9928
NOT ENOUGH INFORMATION / NOT APPLICABLE                     9787
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT               8856
Name: SDOT_COLDESC, dtype: int64

FREQUENCY DISTRIBUTION
Y    29805
Name: INATTENTIONIND, dtype: int64

FREQUENCY DISTRIBUTION
N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

FREQUENCY DISTRIBUTION
Clear       111135
Raining      33145
Overcast     27714
Unknown      15091
Snowing        907
Name: WEATHER, dtype: int64

FREQUENCY DISTRIBUTION
Dry           124510
Wet            47474
Unknown        15078
Ice             1209
Snow/Slush      1004
Name: ROADCOND, dtype: int64

FREQUENCY DISTRIBUTION
Daylight                   116137
Dark - Street Lights On     48507
Unknown                     13473
Dusk                         5902
Dawn                         2502
Name: LIGHTCOND, dtype: int64

FREQUENCY DISTRIBUTION
Y    4667
Name: PEDROWNOTGRNT, dtype: int64

FREQUENCY DISTRIBUTION
Y    9333
Name: SPEEDING, dtype: int64

FREQUENCY DISTRIBUTION
32    27612
10    23427
14    16883
32    16809
10    11247
Name: ST_COLCODE, dtype: int64

FREQUENCY DISTRIBUTION
One parked--one moving                                                 44421
Entering at angle                                                      34674
From same direction - both going straight - one stopped - rear-end     25771
Fixed object                                                           13554
From same direction - both going straight - both moving - sideswipe    12777
Name: ST_COLDESC, dtype: int64

FREQUENCY DISTRIBUTION
N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64

FREQUENCY DISTRIBUTION
1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [21]:
result = df.apply(lambda x: sum(x.isnull()), axis=0) 
print("MISSING VALUES (NAN) BY COLUMNS:")
result
#none of the numeric values have missing rows so no need to do a median fill

MISSING VALUES (NAN) BY COLUMNS:

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [22]:
df.loc[ df['SEVERITYCODE'] == 2, 'LOCATION'].value_counts().head()

AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST              120
6TH AVE AND JAMES ST                                        107
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N     94
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLELLAN ST        94
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST               88
Name: LOCATION, dtype: int64

In [23]:
df = df.drop_duplicates(keep="first")

In [24]:
df.shape
#no rows dropped

(194673, 38)

In [28]:
def missing_fill(var, fill):
    df[var] = df[var].fillna(fill)    
    
missing_fill('LOCATION', 'LocationUnknown')
missing_fill('JUNCTIONTYPE', 'JunctionTypeUnknown')
missing_fill('UNDERINFL', 'UnderinflUnknown')
missing_fill('WEATHER', 'WeatherUnknown')
missing_fill('ROADCOND', 'RoadcondUnknown')
missing_fill('LIGHTCOND', 'LightcondUnknown')
missing_fill('ST_COLCODE', '99')
missing_fill('ST_COLDESC', 'St_coldescUnknown')

In [26]:
df2 = df.filter(items=['SEVERITYCODE','OBJECTID', 'INCKEY', 'COLDETKEY',
                               'REPORTNO', 'STATUS',
                               'SEVERITYDESC','PERSONCOUNT',
                               'VEHCOUNT', 'INCDATE',
                               'INCDTTM', 'SDOT_COLCODE',
                               'SDOT_COLDESC', 'SEGLANKEY',
                               'CROSSWALKKEY', 'HITPARKEDCAR', 'LOCATION',
                               'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER',
                               'ROAD COND'
                               ])

In [27]:
df['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
LightcondUnknown              5170
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64